mixin addOption(member)
        if member===favoriteBeatle
                option(value=member selected="selected")
        else
                option(value=member)
form(method= 'post' action='/create-interesting')
        input(type= 'hidden' name= '_csrf' value= csrfToken)
        label(for= 'firstName') firstName:
        input(type= 'text' name= 'firstName' id= 'firstName' value= firstName)
        label(for= 'lastName') lastName:
        input(type= 'text' name= 'lastName' id= 'lastName' value= lastName)
        label(for= 'email') email:
        input(type= 'email' name= 'email' id= 'email' value= email)
        label(for= 'password') password:
        input(type= 'password' name= 'password' id= 'password' value= password)
        label(for= 'confirmedPassword') confirmedPassword:
        input(type= 'password' name= 'confirmedPassword' id= 'confirmedPassword')
        input(type= 'submit' name= 'submitInput' id='submitInput' value= 'Create Interesting User')
        input(type= 'number' name= 'age' id= 'age' value= age)
        select(name= 'favoriteBeatle')
                +addOption()
                option(value="" selected="selected") --Please choose an option--
                option(value="John" selected="selected") John
                option(value="Paul" selected="selected") Paul
                option(value="Ringo" selected="selected") Ringo
                option(value="George" selected="selected") George
                option(value="Scooby-Doo" selected="selected") Scooby-Doo
        if iceCream
                input(type= 'checkbox' name= 'iceCream' checked=true )
        else
                input(type= 'checkbox' name= 'iceCream' checked=false )
