extends layout.pug

block content
    ul
        p The following errors were found:
            each error in errors
                li= error
    form(method= 'post' action='/create')
        input(type= 'hidden' name= '_csrf' value= csrfToken)
        label(for= 'firstName') firstName:
        input(type= 'text' name= 'firstName' id= 'firstName')
        label(for= 'lastName') lastName:
        input(type= 'text' name= 'lastName' id= 'lastName')
        label(for= 'email') email:
        input(type= 'email' name= 'email' id= 'email')
        label(for= 'password') password:
        input(type= 'password' name= 'password' id= 'password')
        label(for= 'confirmedPassword') confirmedPassword:
        input(type= 'password' name= 'confirmedPassword' id= 'confirmedPassword')
        input(type= 'submit' name= 'submitInput' id='submitInput' value= 'Create User')
