extends layout.pug
mixin userRow(user)
    tr
        td= user.id
        td= user.firstName
        td= user.lastName
        td= user.email
        td
        td
        td
block content
    h2 Existing Users
    table
        thead
        tr
            th id
            th First Name
            th Last Name
            th Email
            th Age
            th Favorite Beatle
            th Likes Ice Cream
        tbody
            each user in users
                +userRow(user)
